
 @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
 * {
   font-family: 'Nunito', sans-serif;
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   -webkit-transition: all .2s linear;
   transition: all .2s linear;
 }
 
 .logo img{
               float:left;
                  width:60px;
 height:auto;
 }
 
 img {
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
 }

 html {
   font-size: 62.5%;
   overflow-x: hidden;
 }
 
 html::-webkit-scrollbar {
   width: 1rem;
 }
 
 html::-webkit-scrollbar-track {
   background-color: #6bbdcd;
 }
 
 html::-webkit-scrollbar-thumb {
   background: #000000;
 }
 
 section {
   padding: 5rem 10%;
 }
 
 .heading-link {
   text-align: center;
   background: url(../images/pages.jpg) no-repeat;
   background-size: cover;
   background-position: center;
 }
 
 .heading-link h3 {
   font-size: 4rem;
   text-transform: capitalize;
   color: #444;
 }
 
 .heading-link p {
   font-size: 2rem;
   line-height: 2;
   color: rgb(0, 0, 0);
 }
 
 .heading-link p a {
   color: #0eb582;
 }
 
 .heading-link p a:hover {
   text-decoration: underline;
 }
 
 .heading {
   text-align: center;
   margin-bottom: 3rem;
   font-size: 3.5rem;
   text-transform: capitalize;
   color: #444;
 }
 
 .btn {
   display: inline-block;
   margin-top: 1rem;
   padding: 1rem 3rem;
   font-size: 1.8rem;
   border: 0.1rem solid #0eb582;
   background: #f0fdfa;
   color: #3c9d31;
   cursor: pointer;
   text-transform: capitalize;
 }
 
 .btn:hover {
   background: #0e3a06;
   color: #fff;
 }
 
 .header {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   background: rgb(240, 233, 233);
   -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
           box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
   padding: 2rem 10%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   z-index: 1000;
 }
 
 .header .logo {
   margin-right: auto;
   font-size: 2.5rem;
   text-transform: capitalize;
   color: #444;
   font-weight: bolder;
 }
 
 .header .logo i {
   color: #0eb582;
 }
 
 .header .navbar {
   position: relative;
 }
 
 .header .navbar #close-navbar {
   position: absolute;
   top: 1.5rem;
   right: 2rem;
   font-size: 6rem;
   cursor: pointer;
   color: rgb(0, 0, 0);
   display: none;
 }
 
 .header .navbar #close-navbar:hover {
   -webkit-transform: rotate(90deg);
           transform: rotate(90deg);
 }
 
 .header .navbar a {
   margin-right: 2rem;
   font-size: 2rem;
   text-transform: capitalize;
   color: rgb(0, 0, 0);
 }
 
 .header .navbar a:hover {
   color: #fefefe;
   background-color: #000000;
 }
 
 .header .icons div {
   cursor: pointer;
   font-size: 2.5rem;
   color: rgb(0, 0, 0);
   margin-left: 1.5rem;
 }
 
 .header .icons div:hover {
   color: #000000;
 }
 
 .header #menu-btn {
   display: none;
 }
 
 *{
  font-weight: BOLD;
 }
 
 body{
    height: 215vh;
    background: url(../images/bg.jpg) ;
    background-size: cover;
    background-position: center;
    
  }
  table{
    border: 3px;
    margin:auto;
    
    margin-top: 50px;
    font-family: arial;
}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px;
    font-size: 20px;
}
th{
    background:rgb(7, 215, 243);
    padding:30;
    text-transform: uppercase;
}
  .content .cyber h1{
    font-size: 80px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 3px 4px 5px red;
 }
 .content .ex p{
    font-size: 30px;
    color: rgb(2, 0, 0);
    text-align: left;
}

.dd{
        font-size: 25px;
        color: rgb(4, 0, 0);
        text-align: left;
        font-weight:bold;
    }
 .dt{
    font-size: 30px;
    text-align:left;
    color: rgb(85, 1, 1);
    font-weight: bold;
 } 
 .li{
  font-size: 30px;
  text-align:left;
  color: rgb(0, 11, 1);
  font-weight: bold;
}
 h6{
    margin-left:-6rem;
 }
 h5{
  color:rgb(12, 64, 64);
  font-size: 40px;
 }
 h4{
  color: rgb(71, 2, 2);
 }
 .tt{
  text-align: center;
  color: #630202;
  font-size: 40px;
 }
.content .ex h2{
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 3px 4px 5px red;}
 
   @media (max-width: 1200px) {
     .header {
       padding: 2rem 5%;
     }
     section {
       padding: 3rem 5%;
     }
   }
   
   @media (max-width: 991px) {
     html {
       font-size: 55%;
     }
     .header {
       padding: 2rem;
     }
     section {
       padding: 3rem 2rem;
     }
   }
   
   @media (max-width: 768px) {
     .header #menu-btn {
       display: inline-block;
     }
     .header .navbar {
       position: fixed;
       top: 0;
       right: -105%;
       width: 30rem;
       background: #fff;
       height: 100%;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-flow: column;
               flex-flow: column;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
       z-index: 1200;
     }
     .header .navbar #close-navbar {
       display: block;
     }
     .header .navbar.active {
       -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
               box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
       right: 0;
     }
     .header .navbar a {
       display: block;
       margin: 1rem 0;
       text-align: center;
       font-size: 3rem;
     }
     .home .slide .content h3 {
       font-size: 3rem;
     }
   }
   
   @media (max-width: 450px) {
     html {
       font-size: 50%;
     }
     .heading {
       font-size: 3rem;
     }
     .about .content .about-title {
       font-size: 4rem;
     }
   }
   /*# sourceMappingURL=style.css.map */
   
